pandas
polars
openpyxl
geopandas
shapely
openai
pyarrow
requests
fastapi
uvicorn
minio
python-multipart
psycopg[binary]
sqlalchemy
alembic
geoalchemy2
prometheus-client
boto3
redis
rapidfuzz
opensearch-py
confluent-kafka>=2.3.0
